body{
    font-family: 'Poppins', sans-serif;
    
}
a{
    font-family: 'Anton', sans-serif;
}
.banner{
    background-image: url(../images/ironman\ face3.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.logo{
    transform: translateY(-2px);
    
}
.skills-padding{
    padding: 70px 0;
}